@font-face {
    font-family: bwhaastext;
    src: url(../font/BWHaasText-75Bold.woff2) format('woff2'),url(../font/BWHaasText-75Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: bwhaastext;
    src: url(../font/BWHaasText-76BoldItalic.woff2) format('woff2'),url(../font/BWHaasText-76BoldItalic.woff) format('woff');
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: bwhaastext;
    src: url(../font/BWHaasText-65Medium.woff2) format('woff2'),url(../font/BWHaasText-65Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: bwhaastext;
    src: url(../font/BWHaasText-66MediumItalic.woff2) format('woff2'),url(../font/BWHaasText-66MediumItalic.woff) format('woff');
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: bwhaastext;
    src: url(../font/BWHaasText-55Roman.woff2) format('woff2'),url(../font/BWHaasText-55Roman.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: bwhaastext;
    src: url(../font/BWHaasText-56Italic.woff2) format('woff2'),url(../font/BWHaasText-56Italic.woff) format('woff');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: bwhaashead;
    src: url(../font/BWHaasHead-95Black.woff2) format('woff2'),url(../font/BWHaasHead-95Black.woff) format('woff');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: bwhaashead;
    src: url(../font/BWHaasHead-96BlackItalic.woff2) format('woff2'),url(../font/BWHaasHead-96BlackItalic.woff) format('woff');
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: bwhaashead;
    src: url(../font/BWHaasHead-75Bold.woff2) format('woff2'),url(../font/BWHaasHead-75Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: bwhaashead;
    src: url(../font/BWHaasHead-76BoldItalic.woff2) format('woff2'),url(../font/BWHaasHead-76BoldItalic.woff) format('woff');
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: bwhaashead;
    src: url(../font/BWHaasHead-65Medium.woff2) format('woff2'),url(../font/BWHaasHead-65Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: bwhaashead;
    src: url(../font/BWHaasHead-66MediumItalic.woff2) format('woff2'),url(../font/BWHaasHead-66MediumItalic.woff) format('woff');
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: bwhaashead;
    src: url(../font/BWHaasHead-55Roman.woff2) format('woff2'),url(../font/BWHaasHead-55Roman.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: bwhaashead;
    src: url(../font/BWHaasHead-56Italic.woff2) format('woff2'),url(../font/BWHaasHead-56Italic.woff) format('woff');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: bwhaashead;
    src: url(../font/BWHaasHead-25XThin.woff2) format('woff2'),url(../font/BWHaasHead-25XThin.woff) format('woff');
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: bwhaashead;
    src: url(../font/BWHaasHead-26XThinItalic.woff2) format('woff2'),url(../font/BWHaasHead-26XThinItalic.woff) format('woff');
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: bwhaastextfixed;
    src: url(../font/BWHaasGrotesk-65Fixed.woff2) format('woff2'),url(../font/BWHaasGrotesk-65Fixed.woff) format('woff');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: bwhaastextfixed;
    src: url(../font/BWHaasGrotesk-55Fixed.woff2) format('woff2'),url(../font/BWHaasGrotesk-55Fixed.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: hiragino kaku gothic pro;
    src: url(../font/hiragino-kaku-gothic-pro-w3.woff2) format('woff2'),url(../font/hiragino-kaku-gothic-pro-w3.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: hiragino kaku gothic pro;
    src: url(../font/hiragino-kaku-gothic-pro-w6.woff2) format('woff2'),url(../font/hiragino-kaku-gothic-pro-w6.woff) format('woff');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: noto sans japanese;
    src: url(../font/NotoSansJP-Regular.woff2) format('woff2'),url(../font/NotoSansJP-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: noto sans japanese;
    src: url(../font/NotoSansJP-Bold.woff2) format('woff2'),url(../font/NotoSansJP-Bold.woff) format('woff');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: noto sans chinese;
    src: url(../font/NotoSansSC-Regular.woff2) format('woff2'),url(../font/NotoSansSC-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: noto sans chinese;
    src: url(../font/NotoSansSC-Bold.woff2) format('woff2'),url(../font/NotoSansSC-Bold.woff) format('woff');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: bwhaasdingbat;
    font-style: normal;
    font-weight: 400;
    src: url(../font/BWHaasGroteskWebDingbat-Regular.woff2) format('woff2'),url(../font/BWHaasGroteskWebDingbat-Regular.woff) format('woff');
    unicode-range: U+1F151,U+1F322,U+1F3ED,U+1F446,U+1F455,U+1F4A5,U+1F4A7,U+1F4B5,U+1F4BB,U+1F4BC,U+1F4C8,U+1F4CA,U+1F50D,U+1F525,U+1F5CB,U+1F687,U+1F6A2,U+1F6B9,U+1F6C9,U+1F6E1,U+1F6E2,U+1F6E6,U+1F6EA,U+1F6EB,U+1F93A,U+2139,U+2190,U+2191,U+2192,U+2193,U+21A2,U+21A3,U+21D0,U+21D2,U+21E1,U+21E3,U+21E6,U+21E8,U+2212,U+2261,U+2263,U+226A,U+226B,U+227A,U+227B,U+22D8,U+22D9,U+2301,U+2302,U+238F,U+23E9,U+23EA,U+23EB,U+23EC,U+23ED,U+23EE,U+25A0,U+25A1,U+25BC,U+25BD,U+25CB,U+25CF,U+25D6,U+25D7,U+25DC,U+25DD,U+2600,U+2606,U+2617,U+2622,U+2634,U+2692,U+2693,U+2698,U+26BB,U+26F0,U+26F4,U+2713,U+272A,U+2B60,U+2B62,U+2B88,U+2B89,U+2B8A,U+2B8B,U+D7
}

@font-face {
    font-family: bwhaasdingbatplus;
    font-weight: 400;
    font-style: normal;
    src: url(../font/BWHaasGroteskWebDingbat-Regular.woff2) format('woff2'),url(../font/BWHaasGroteskWebDingbat-Regular.woff) format('woff');
    unicode-range: U+2B
}

@font-face {
    font-family: bw haas grotesk web dingbat;
    font-weight: 400;
    font-style: normal;
    src: url(../font/BWHaasGroteskWebDingbat-Regular.woff2) format('woff2'),url(../font/BWHaasGroteskWebDingbat-Regular.woff) format('woff')
}

.toaster-iframe {
    background: var(--bg);
    padding: 0;
    margin: 0
}

.toaster-theme-bizweek {
    background: transparent;
    font-family: bwhaasdingbat,bwhaastext,hiragino kaku gothic pro,noto sans japanese,noto sans chinese,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400
}

.toaster-theme-bizweek h1,.toaster-theme-bizweek h2 {
    color: var(--text);
    margin: 0
}

.toaster-theme-bizweek h1 {
    margin-top: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px
}

.toaster-theme-bizweek h2 {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    margin: 0
}

.toaster-theme-bizweek a {
    color: var(--text)
}

.toaster-theme-bizweek svg {
    overflow: visible;
    -webkit-box-shadow: 0 0 10000px transparent;
    box-shadow: 0 0 10000px transparent;
    -webkit-transfom-origin: 0 0 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.toaster-theme-bizweek .tc-contain {
    position: relative;
    width: 100%;
    min-height: 600px;
    max-width: 950px
}

.toaster-theme-bizweek .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.toaster-theme-bizweek.toaster-chart {
    padding: 20px 14px 12px;
    position: relative;
    display: block;
    color: var(--text);
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale
}

.toaster-theme-bizweek.toaster-chart>* {
    display: block
}

.toaster-theme-bizweek.toaster-chart .chart {
    position: relative;
    width: 100%;
    display: block
}

.toaster-theme-bizweek.toaster-chart.widget-mode .chart {
    min-height: 0
}

.toaster-theme-bizweek.toaster-chart .footer {
    min-height: 14px;
    margin-top: 8px;
    font-size: 13px;
    line-height: 15px;
    margin-right: 108px;
    display: block;
    overflow: hidden
}

.toaster-theme-bizweek.toaster-chart .header.hide,.toaster-theme-bizweek.toaster-chart .footer.hide {
    display: none
}

.toaster-theme-bizweek.toaster-chart.hide {
    display: none
}

.toaster-theme-bizweek.toaster-chart.no-titles .simple-legend {
    margin-top: 0
}

.toaster-theme-bizweek.toaster-chart.no-padding {
    padding: 0
}

.toaster-theme-bizweek.toaster-chart.no-padding .logo {
    right: 0;
    bottom: 0
}

.toaster-theme-bizweek.toaster-chart.no-interaction {
    pointer-events: none
}

.toaster-theme-bizweek.toaster-chart.fit-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale
}

.toaster-theme-bizweek.toaster-chart.fit-container>* {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.toaster-theme-bizweek.toaster-chart.fit-container .chart {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    display: block;
    overflow: inherit;
    min-height: 180px
}

.toaster-theme-bizweek.toaster-chart.vertical-flow {
    position: relative;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.toaster-theme-bizweek.toaster-chart.vertical-flow>* {
    display: block
}

.toaster-theme-bizweek.toaster-chart.vertical-flow .chart {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.toaster-theme-bizweek.toaster-chart.transition-stage .draw-container {
    visibility: hidden
}

.toaster-theme-bizweek rect.extents {
    fill: transparent;
    visibility: hidden
}

.toaster-theme-bizweek .grid path.domain {
    display: none
}

.toaster-theme-bizweek .grid line {
    stroke: var(--text);
    stroke-width: 1.3px
}

.toaster-theme-bizweek .grid line.zero-line {
    stroke: var(--text);
    stroke-width: 1px
}

.toaster-theme-bizweek .grid line.hide-line {
    display: none
}

.toaster-theme-bizweek .grid.vertical-grid line {
    stroke: var(--text);
    stroke-width: 1px
}

.toaster-theme-bizweek .line-area {
    fill: var(--text);
    fill-opacity: 1;
    stroke-width: 1;
    stroke: transparent
}

.toaster-theme-bizweek.toaster-chart-area-stacked .line-area {
    fill-opacity: 1
}

.toaster-theme-bizweek .axis.no-line .domain,.toaster-theme-bizweek .axis.no-line .tick line {
    visibility: hidden
}

.toaster-theme-bizweek .axis.no-domain .domain {
    visibility: hidden
}

.toaster-theme-bizweek text {
    fill: var(--text);
    font-family: bwhaasdingbat,bwhaastext,hiragino kaku gothic pro,noto sans japanese,noto sans chinese,Arial,sans-serif
}

.toaster-theme-bizweek text.left-align {
    text-anchor: start
}

.toaster-theme-bizweek .axis path.domain,.toaster-theme-bizweek .axis .tick>line {
    stroke-width: 1px;
    stroke: var(--text)
}

.toaster-theme-bizweek.toaster-chart-scatterplot .axis .tick>line {
    stroke: var(--text)
}

.toaster-theme-bizweek .axis-x text,.toaster-theme-bizweek .axis-y text,.toaster-theme-bizweek .axis-label-box text,.toaster-theme-bizweek .label-container text,.toaster-theme-bizweek .annotations text {
    font-family: bwhaasdingbat,bwhaastext,hiragino kaku gothic pro,noto sans japanese,noto sans chinese,Arial,sans-serif;
    font-size: 14px;
    fill: var(--text)
}

.toaster-theme-bizweek .axis-y.variant-above text {
    text-anchor: end
}

.toaster-theme-bizweek .axis-y .tick>line {
    stroke: var(--text);
    stroke-width: 1.3px
}

.toaster-theme-bizweek .axis-y .tick.base>line,.toaster-theme-bizweek .axis-y .tick.zero-line>line {
    stroke: var(--text);
    stroke-width: 1px
}

.toaster-theme-bizweek .axis-y text {
    text-anchor: start
}

.toaster-theme-bizweek .axis-y.position-left text {
    text-anchor: end
}

.toaster-theme-bizweek .axis.no-ticks .tick line {
    display: none
}

.toaster-theme-bizweek.no-grid .axis-y .tick>line {
    stroke: var(--text);
    stroke-width: 1px
}

.toaster-theme-bizweek.no-grid .grid .tick>line {
    visibility: hidden
}

.toaster-theme-bizweek.no-grid .grid .tick>line.zero-line {
    visibility: visible
}

.toaster-theme-bizweek.no-grid .vertical-grid .tick>line.zero-line {
    display: none
}

.toaster-theme-bizweek.no-domain .axis-x .domain,.toaster-theme-bizweek .toaster-chart.no-domain .axis-x .domain {
    visibility: hidden
}

.toaster-theme-bizweek.no-axis .axis-x {
    display: none
}

.toaster-theme-bizweek .axis-label {
    fill: var(--text)
}

.toaster-theme-bizweek .annotations text {
    fill: var(--text)
}

.toaster-theme-bizweek .axis-label-box {
    font-family: bwhaasdingbat,bwhaastext,hiragino kaku gothic pro,noto sans japanese,noto sans chinese,Arial,sans-serif;
    font-size: 14px
}

.toaster-theme-bizweek .axis-y.left .tick text {
    -webkit-transform: translate(-5px,6px);
    transform: translate(-5px,6px)
}

.toaster-theme-bizweek .axis-y.left.no-line .tick text {
    -webkit-transform: translate(0,6px);
    transform: translate(0,6px)
}

.toaster-theme-bizweek .axis-y.left.vcenter .tick text {
    -webkit-transform: translate(-5px,0);
    transform: translate(-5px,0)
}

.toaster-theme-bizweek .axis-y.left.no-line.vcenter .tick text {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
}

.toaster-theme-bizweek .axis-y.right .tick text {
    -webkit-transform: translate(5px,6px);
    transform: translate(5px,6px)
}

.toaster-theme-bizweek .axis-y.right.no-line .tick text {
    -webkit-transform: translate(0,6px);
    transform: translate(0,6px)
}

.toaster-theme-bizweek .axis-y.right.vcenter .tick text {
    -webkit-transform: translate(5px,0);
    transform: translate(5px,0)
}

.toaster-theme-bizweek .axis-y.right.no-line.vcenter .tick text {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
}

.toaster-theme-bizweek .tick.hide-tick,.toaster-theme-bizweek .tick.hide-text text,.toaster-theme-bizweek .tick.hide-line1 .line1,.toaster-theme-bizweek .tick.hide-line2 .line2,.toaster-theme-bizweek .axis-x.axis-secondary .domain,.toaster-theme-bizweek .axis-x.axis-secondary .tick line {
    display: none
}

.toaster-theme-bizweek .domain.vertical-baseline {
    stroke: none
}

.toaster-theme-bizweek .source,.toaster-theme-bizweek .footnote,.toaster-theme-bizweek .label-bottom {
    color: var(--text)
}

.toaster-theme-bizweek .source,.toaster-theme-bizweek .footnote {
    margin: 0
}

.toaster-theme-bizweek .label-bottom {
    margin: 3px auto 6px;
    text-align: center
}

.toaster-theme-bizweek .logo {
    position: absolute;
    bottom: 6px;
    right: 14px;
    width: 70px;
    height: 19px;
    background-color: var(--bg)
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat
}

.toaster-theme-bizweek .annotations-footer {
    font-family: bwhaasdingbat,bwhaastext,hiragino kaku gothic pro,noto sans japanese,noto sans chinese,Arial,sans-serif;
    color: var(--text)
}

.toaster-theme-bizweek .annotations-footer .star {
    font-size: 18px;
    line-height: 14px;
    display: inline-block;
    -webkit-transform: translateY(25%);
    transform: translateY(25%)
}

.toaster-theme-bizweek .axis-label-box text {
    fill: var(--text)
}

.toaster-theme-bizweek .axis-label-box>rect {
    fill: var(--bg)
}

.toaster-theme-bizweek text.column-label {
    fill: var(--text)
}

.toaster-theme-bizweek .simple-legend {
    list-style-type: none;
    padding: 0;
    margin: 12px 0 0 2px;
    color: var(--text)
}

.toaster-theme-bizweek .simple-legend li {
    display: inline-block;
    padding-bottom: 2px;
    margin-right: 12px
}

.toaster-theme-bizweek .simple-legend li:last-child {
    margin-right: 0
}

.toaster-theme-bizweek .simple-legend .swatch {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-bottom: 2px
}

.toaster-theme-bizweek .simple-legend .swatch.line {
    width: 16px;
    height: 2.5px;
    transform: rotate(-45deg) translate(8px,-1px);
    -webkit-transform: rotate(-45deg) translate(8px,-1px);
    margin-left: -8px;
    margin-right: 9px;
    margin-bottom: 0
}

.toaster-theme-bizweek .legend.hidden {
    height: auto
}

.toaster-theme-bizweek .legend.hidden .simple-legend {
    display: none
}

.toaster-theme-bizweek.toaster-chart.no-padding .legend.hidden {
    visibility: hidden
}

.toaster-theme-bizweek .header+.legend.hidden {
    padding-bottom: 18px
}

.toaster-theme-bizweek .temprender {
    position: fixed;
    top: 10px;
    right: 10px
}

.toaster-theme-bizweek .spread {
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 12px;
    overflow: hidden
}

.toaster-theme-bizweek.toaster-chart-spread>.chart {
    margin-top: 10px
}

.toaster-theme-bizweek .spread>.title {
    margin-top: 6px;
    min-height: 34px;
    font-weight: 600;
    color: var(--text)
}

.toaster-theme-bizweek .spread .toaster-chart .chart {
    min-height: 0!important
}

.toaster-theme-bizweek .widget-mode .chart {
    margin: 0
}

.toaster-theme-bizweek .widget-mode .spread>.title,.toaster-theme-bizweek .widget-mode .legend-container-outer {
    display: none
}

.toaster-theme-bizweek.toaster-type-performanceChart .simple-line .line,.toaster-theme-bizweek.toaster-type-performanceChart .simple-line .dashed-line {
    stroke-width: 2
}

.toaster-theme-bizweek.toaster-type-scatterPlot .grid.vertical-grid line {
    stroke: var(--text)
}

.toaster-theme-bizweek .spread>.score-title {
    color: var(--text)
}

.toaster-theme-bizweek text.threshold-label {
    fill: var(--text);
    text-shadow: -1px -1px 1px var(--bg),-1px -.5px 1px var(--bg),-1px 0 1px var(--bg),-1px .5px 1px var(--bg),-1px 1px 1px var(--bg),-.5px -1px 1px var(--bg),-.5px -.5px 1px var(--bg),-.5px 0 1px var(--bg),-.5px .5px 1px var(--bg),-.5px 1px 1px var(--bg),0 -.5px 1px var(--bg),0 -.5px 1px var(--bg),0 1px 1px var(--bg),0 1px 1px var(--bg),.5px -1px 1px var(--bg),.5px -.5px 1px var(--bg),.5px 0 1px var(--bg),.5px .5px 1px var(--bg),.5px 1px 1px var(--bg),1px -1px 1px var(--bg),1px -.5px 1px var(--bg),1px 0 1px var(--bg),1px .5px 1px var(--bg),1px 1px 1px var(--bg)
}

.toaster-theme-bizweek .screenshot-mode text.threshold-label {
    text-shadow: -2px -2px 2px var(--bg),-2px -1px 2px var(--bg),-2px 0 2px var(--bg),-2px 1px 2px var(--bg),-2px 2px 2px var(--bg),-1px -2px 2px var(--bg),-1px -1px 2px var(--bg),-1px 0 2px var(--bg),-1px 1px 2px var(--bg),-1px 2px 2px var(--bg),0 -2px 2px var(--bg),0 -1px 2px var(--bg),0 1px 2px var(--bg),0 2px 2px var(--bg),1px -2px 2px var(--bg),1px -1px 2px var(--bg),1px 0 2px var(--bg),1px 1px 2px var(--bg),1px 2px 2px var(--bg),2px -2px 2px var(--bg),2px -1px 2px var(--bg),2px 0 2px var(--bg),2px 1px 2px var(--bg),2px 2px 2px var(--bg)
}

.toaster-theme-bizweek text.threshold-label.disable-shadow,.toaster-theme-bizweek .screenshot-mode text.threshold-label.disable-shadow {
    text-shadow: none
}

.toaster-theme-bizweek path.threshold-line-background {
    stroke: var(--bg);
    stroke-width: 1.5;
    opacity: .4
}

.toaster-theme-bizweek path.threshold-line {
    stroke: var(--text);
    stroke-width: 1.5;
    stroke-dasharray: 5 3
}

.toaster-theme-bizweek span.highlight-range-legend {
    background-color: rgba(150,150,150,.35)
}

.toaster-theme-bizweek .highlight-ranges>.range-highlight {
    fill: rgba(150,150,150,.35)
}

.toaster-theme-bizweek .perf-group path {
    stroke-width: 10px
}

.toaster-theme-bizweek .perf-group path.score-1 {
    stroke: #00aeff
}

.toaster-theme-bizweek .perf-group path.score-2 {
    stroke: #44c4ff
}

.toaster-theme-bizweek .perf-group path.score-3 {
    stroke: #89d9fe
}

.toaster-theme-bizweek .perf-group path.score-4 {
    stroke: #d4d4d4
}

.toaster-theme-bizweek .perf-group path.score-5 {
    stroke: #feb98d
}

.toaster-theme-bizweek .perf-group path.score-6 {
    stroke: #ff8d46
}

.toaster-theme-bizweek .perf-group path.score-7 {
    stroke: #ff6200
}

.toaster-theme-bizweek .perf-group circle.score-1 {
    fill: #00aeff
}

.toaster-theme-bizweek .perf-group circle.score-2 {
    fill: #44c4ff
}

.toaster-theme-bizweek .perf-group circle.score-3 {
    fill: #89d9fe
}

.toaster-theme-bizweek .perf-group circle.score-4 {
    fill: #d4d4d4
}

.toaster-theme-bizweek .perf-group circle.score-5 {
    fill: #feb98d
}

.toaster-theme-bizweek .perf-group circle.score-6 {
    fill: #ff8d46
}

.toaster-theme-bizweek .perf-group circle.score-7 {
    fill: #ff6200
}

.toaster-theme-bizweek .perf-group.red-green path {
    stroke-width: 10px
}

.toaster-theme-bizweek .perf-group.red-green path.score-1 {
    stroke: #e41443
}

.toaster-theme-bizweek .perf-group.red-green path.score-2 {
    stroke: #fe456f
}

.toaster-theme-bizweek .perf-group.red-green path.score-3 {
    stroke: #fe8ca5
}

.toaster-theme-bizweek .perf-group.red-green path.score-4 {
    stroke: #d4d4d4
}

.toaster-theme-bizweek .perf-group.red-green path.score-5 {
    stroke: #a1fdac
}

.toaster-theme-bizweek .perf-group.red-green path.score-6 {
    stroke: #00ff29
}

.toaster-theme-bizweek .perf-group.red-green path.score-7 {
    stroke: #02b21e
}

.toaster-theme-bizweek .perf-group.red-green circle.score-1 {
    fill: #e41443
}

.toaster-theme-bizweek .perf-group.red-green circle.score-2 {
    fill: #fe456f
}

.toaster-theme-bizweek .perf-group.red-green circle.score-3 {
    fill: #fe8ca5
}

.toaster-theme-bizweek .perf-group.red-green circle.score-4 {
    fill: #d4d4d4
}

.toaster-theme-bizweek .perf-group.red-green circle.score-5 {
    fill: #a1fdac
}

.toaster-theme-bizweek .perf-group.red-green circle.score-6 {
    fill: #00ff29
}

.toaster-theme-bizweek .perf-group.red-green circle.score-7 {
    fill: #02b21e
}

.toaster-theme-bizweek #dial-chart .active {
    font-size: 28px
}

.toaster-theme-bizweek .bg.series-0,.toaster-theme-bizweek .series-0 {
    background-color: var(--text)
}

.toaster-theme-bizweek .c.series-0 {
    color: var(--text)
}

.toaster-theme-bizweek .f.series-0,.toaster-theme-bizweek .line-area.series-0 {
    fill: var(--text)
}

.toaster-theme-bizweek .s.series-0,.toaster-theme-bizweek .series-0-stroke {
    stroke: var(--text)
}

.toaster-theme-bizweek .bg.series-1,.toaster-theme-bizweek .series-1 {
    background-color: #0078ff
}

.toaster-theme-bizweek .c.series-1 {
    color: #0078ff
}

.toaster-theme-bizweek .f.series-1,.toaster-theme-bizweek .line-area.series-1 {
    fill: #0078ff
}

.toaster-theme-bizweek .s.series-1,.toaster-theme-bizweek .series-1-stroke {
    stroke: #0078ff
}

.toaster-theme-bizweek .bg.series-2,.toaster-theme-bizweek .series-2 {
    background-color: red
}

.toaster-theme-bizweek .c.series-2 {
    color: red
}

.toaster-theme-bizweek .f.series-2,.toaster-theme-bizweek .line-area.series-2 {
    fill: red
}

.toaster-theme-bizweek .s.series-2,.toaster-theme-bizweek .series-2-stroke {
    stroke: red
}

.toaster-theme-bizweek .bg.series-3,.toaster-theme-bizweek .series-3 {
    background-color: #080
}

.toaster-theme-bizweek .c.series-3 {
    color: #080
}

.toaster-theme-bizweek .f.series-3,.toaster-theme-bizweek .line-area.series-3 {
    fill: #080
}

.toaster-theme-bizweek .s.series-3,.toaster-theme-bizweek .series-3-stroke {
    stroke: #080
}

.toaster-theme-bizweek .bg.series-4,.toaster-theme-bizweek .series-4 {
    background-color: #ff0
}

.toaster-theme-bizweek .c.series-4 {
    color: #ff0
}

.toaster-theme-bizweek .f.series-4,.toaster-theme-bizweek .line-area.series-4 {
    fill: #ff0
}

.toaster-theme-bizweek .s.series-4,.toaster-theme-bizweek .series-4-stroke {
    stroke: #ff0
}

.toaster-theme-bizweek .bg.series-5,.toaster-theme-bizweek .series-5 {
    background-color: #dca0ff
}

.toaster-theme-bizweek .c.series-5 {
    color: #dca0ff
}

.toaster-theme-bizweek .f.series-5,.toaster-theme-bizweek .line-area.series-5 {
    fill: #dca0ff
}

.toaster-theme-bizweek .s.series-5,.toaster-theme-bizweek .series-5-stroke {
    stroke: #dca0ff
}

.toaster-theme-bizweek .bg.series-6,.toaster-theme-bizweek .series-6 {
    background-color: #5d5d5d
}

.toaster-theme-bizweek .c.series-6 {
    color: #5d5d5d
}

.toaster-theme-bizweek .f.series-6,.toaster-theme-bizweek .line-area.series-6 {
    fill: #5d5d5d
}

.toaster-theme-bizweek .s.series-6,.toaster-theme-bizweek .series-6-stroke {
    stroke: #5d5d5d
}

.toaster-theme-bizweek .bg.series-7,.toaster-theme-bizweek .series-7 {
    background-color: #949494
}

.toaster-theme-bizweek .c.series-7 {
    color: #949494
}

.toaster-theme-bizweek .f.series-7,.toaster-theme-bizweek .line-area.series-7 {
    fill: #949494
}

.toaster-theme-bizweek .s.series-7,.toaster-theme-bizweek .series-7-stroke {
    stroke: #949494
}

.toaster-theme-bizweek .bg.series-8,.toaster-theme-bizweek .series-8 {
    background-color: #ccc
}

.toaster-theme-bizweek .c.series-8 {
    color: #ccc
}

.toaster-theme-bizweek .f.series-8,.toaster-theme-bizweek .line-area.series-8 {
    fill: #ccc
}

.toaster-theme-bizweek .s.series-8,.toaster-theme-bizweek .series-8-stroke {
    stroke: #ccc
}

.toaster-theme-bizweek .bg.series-9,.toaster-theme-bizweek .series-9 {
    background-color: #dedede
}

.toaster-theme-bizweek .c.series-9 {
    color: #dedede
}

.toaster-theme-bizweek .f.series-9,.toaster-theme-bizweek .line-area.series-9 {
    fill: #dedede
}

.toaster-theme-bizweek .s.series-9,.toaster-theme-bizweek .series-9-stroke {
    stroke: #dedede
}

.toaster-theme-bizweek .highlight,.toaster-theme-bizweek .f.highlight {
    fill: #0078ff
}

.toaster-theme-bizweek .highlight-legend {
    background-color: #0078ff
}

.toaster-theme-bizweek.bar-colors .bg.series-0,.toaster-theme-bizweek.bar-colors .series-0 {
    background-color: var(--text)
}

.toaster-theme-bizweek.bar-colors .bg.series-1,.toaster-theme-bizweek.bar-colors .series-1 {
    background-color: #0078ff
}

.toaster-theme-bizweek.bar-colors .bg.series-2,.toaster-theme-bizweek.bar-colors .series-2 {
    background-color: red
}

.toaster-theme-bizweek.bar-colors .bg.series-3,.toaster-theme-bizweek.bar-colors .series-3 {
    background-color: #080
}

.toaster-theme-bizweek.bar-colors .bg.series-4,.toaster-theme-bizweek.bar-colors .series-4 {
    background-color: var(--bg)
}

.toaster-theme-bizweek.bar-colors .bg.series-5,.toaster-theme-bizweek.bar-colors .series-5 {
    background-color: #ff0
}

.toaster-theme-bizweek.bar-colors .bg.series-6,.toaster-theme-bizweek.bar-colors .series-6 {
    background-color: #5d5d5d
}

.toaster-theme-bizweek.bar-colors .bg.series-7,.toaster-theme-bizweek.bar-colors .series-7 {
    background-color: #949494
}

.toaster-theme-bizweek.bar-colors .bg.series-8,.toaster-theme-bizweek.bar-colors .series-8 {
    background-color: #ccc
}

.toaster-theme-bizweek.bar-colors .bg.series-9,.toaster-theme-bizweek.bar-colors .series-9 {
    background-color: #dedede
}

.toaster-theme-bizweek.bar-colors .c.series-0 {
    color: var(--text)
}

.toaster-theme-bizweek.bar-colors .c.series-1 {
    color: #0078ff
}

.toaster-theme-bizweek.bar-colors .c.series-2 {
    color: red
}

.toaster-theme-bizweek.bar-colors .c.series-3 {
    color: #080
}

.toaster-theme-bizweek.bar-colors .c.series-4 {
    color: var(--bg)
}

.toaster-theme-bizweek.bar-colors .c.series-5 {
    color: #ff0
}

.toaster-theme-bizweek.bar-colors .c.series-6 {
    color: #5d5d5d
}

.toaster-theme-bizweek.bar-colors .c.series-7 {
    color: #949494
}

.toaster-theme-bizweek.bar-colors .c.series-8 {
    color: #ccc
}

.toaster-theme-bizweek.bar-colors .c.series-9 {
    color: #dedede
}

.toaster-theme-bizweek.bar-colors .f.series-0,.toaster-theme-bizweek.bar-colors .line-area.series-0 {
    fill: var(--text)
}

.toaster-theme-bizweek.bar-colors .f.series-1,.toaster-theme-bizweek.bar-colors .line-area.series-1 {
    fill: #0078ff
}

.toaster-theme-bizweek.bar-colors .f.series-2,.toaster-theme-bizweek.bar-colors .line-area.series-2 {
    fill: red
}

.toaster-theme-bizweek.bar-colors .f.series-3,.toaster-theme-bizweek.bar-colors .line-area.series-3 {
    fill: #080
}

.toaster-theme-bizweek.bar-colors .f.series-4,.toaster-theme-bizweek.bar-colors .line-area.series-4 {
    fill: var(--bg)
}

.toaster-theme-bizweek.bar-colors .f.series-5,.toaster-theme-bizweek.bar-colors .line-area.series-5 {
    fill: #ff0
}

.toaster-theme-bizweek.bar-colors .f.series-6,.toaster-theme-bizweek.bar-colors .line-area.series-6 {
    fill: #5d5d5d
}

.toaster-theme-bizweek.bar-colors .f.series-7,.toaster-theme-bizweek.bar-colors .line-area.series-7 {
    fill: #949494
}

.toaster-theme-bizweek.bar-colors .f.series-8,.toaster-theme-bizweek.bar-colors .line-area.series-8 {
    fill: #ccc
}

.toaster-theme-bizweek.bar-colors .f.series-9,.toaster-theme-bizweek.bar-colors .line-area.series-9 {
    fill: #dedede
}

.toaster-theme-bizweek.bar-colors .s.series-0,.toaster-theme-bizweek.bar-colors .series-0-stroke {
    stroke: var(--text)
}

.toaster-theme-bizweek.bar-colors .s.series-1,.toaster-theme-bizweek.bar-colors .series-1-stroke {
    stroke: #0078ff
}

.toaster-theme-bizweek.bar-colors .s.series-2,.toaster-theme-bizweek.bar-colors .series-2-stroke {
    stroke: red
}

.toaster-theme-bizweek.bar-colors .s.series-3,.toaster-theme-bizweek.bar-colors .series-3-stroke {
    stroke: #080
}

.toaster-theme-bizweek.bar-colors .s.series-4,.toaster-theme-bizweek.bar-colors .series-4-stroke {
    stroke: var(--bg)
}

.toaster-theme-bizweek.bar-colors .s.series-5,.toaster-theme-bizweek.bar-colors .series-5-stroke {
    stroke: #ff0
}

.toaster-theme-bizweek.bar-colors .s.series-6,.toaster-theme-bizweek.bar-colors .series-6-stroke {
    stroke: #5d5d5d
}

.toaster-theme-bizweek.bar-colors .s.series-7,.toaster-theme-bizweek.bar-colors .series-7-stroke {
    stroke: #949494
}

.toaster-theme-bizweek.bar-colors .s.series-8,.toaster-theme-bizweek.bar-colors .series-8-stroke {
    stroke: #ccc
}

.toaster-theme-bizweek.bar-colors .s.series-9,.toaster-theme-bizweek.bar-colors .series-9-stroke {
    stroke: #dedede
}

.toaster-theme-bizweek.bar-colors .highlight,.toaster-theme-bizweek.bar-colors .f.highlight {
    fill: #0078ff
}

.toaster-theme-bizweek.quad-colors .bg.series-0,.toaster-theme-bizweek.quad-colors .series-0 {
    background-color: $quadColors
}

.toaster-theme-bizweek.quad-colors .c.series-0 {
    color: $quadColors
}

.toaster-theme-bizweek.quad-colors .f.series-0,.toaster-theme-bizweek.quad-colors .line-area.series-0 {
    fill: $quadColors
}

.toaster-theme-bizweek.quad-colors .s.series-0,.toaster-theme-bizweek.quad-colors .series-0-stroke {
    stroke: $quadColors
}

.toaster-theme-bizweek.quad-colors .highlight,.toaster-theme-bizweek.quad-colors .f.highlight {
    fill: #0078ff
}

.toaster-theme-bizweek.pie-colors .not-highlighted .bg.series-0,.toaster-theme-bizweek.pie-colors .not-highlighted .series-0 {
    background-color: var(--text)
}

.toaster-theme-bizweek.pie-colors .not-highlighted .bg.series-1,.toaster-theme-bizweek.pie-colors .not-highlighted .series-1 {
    background-color: #0078ff
}

.toaster-theme-bizweek.pie-colors .not-highlighted .bg.series-2,.toaster-theme-bizweek.pie-colors .not-highlighted .series-2 {
    background-color: red
}

.toaster-theme-bizweek.pie-colors .not-highlighted .bg.series-3,.toaster-theme-bizweek.pie-colors .not-highlighted .series-3 {
    background-color: #080
}

.toaster-theme-bizweek.pie-colors .not-highlighted .bg.series-4,.toaster-theme-bizweek.pie-colors .not-highlighted .series-4 {
    background-color: var(--bg)
}

.toaster-theme-bizweek.pie-colors .not-highlighted .bg.series-5,.toaster-theme-bizweek.pie-colors .not-highlighted .series-5 {
    background-color: #ff0
}

.toaster-theme-bizweek.pie-colors .not-highlighted .bg.series-6,.toaster-theme-bizweek.pie-colors .not-highlighted .series-6 {
    background-color: #5d5d5d
}

.toaster-theme-bizweek.pie-colors .not-highlighted .bg.series-7,.toaster-theme-bizweek.pie-colors .not-highlighted .series-7 {
    background-color: #949494
}

.toaster-theme-bizweek.pie-colors .not-highlighted .bg.series-8,.toaster-theme-bizweek.pie-colors .not-highlighted .series-8 {
    background-color: #ccc
}

.toaster-theme-bizweek.pie-colors .not-highlighted .bg.series-9,.toaster-theme-bizweek.pie-colors .not-highlighted .series-9 {
    background-color: #dedede
}

.toaster-theme-bizweek.pie-colors .not-highlighted .c.series-0 {
    color: var(--text)
}

.toaster-theme-bizweek.pie-colors .not-highlighted .c.series-1 {
    color: #0078ff
}

.toaster-theme-bizweek.pie-colors .not-highlighted .c.series-2 {
    color: red
}

.toaster-theme-bizweek.pie-colors .not-highlighted .c.series-3 {
    color: #080
}

.toaster-theme-bizweek.pie-colors .not-highlighted .c.series-4 {
    color: var(--bg)
}

.toaster-theme-bizweek.pie-colors .not-highlighted .c.series-5 {
    color: #ff0
}

.toaster-theme-bizweek.pie-colors .not-highlighted .c.series-6 {
    color: #5d5d5d
}

.toaster-theme-bizweek.pie-colors .not-highlighted .c.series-7 {
    color: #949494
}

.toaster-theme-bizweek.pie-colors .not-highlighted .c.series-8 {
    color: #ccc
}

.toaster-theme-bizweek.pie-colors .not-highlighted .c.series-9 {
    color: #dedede
}

.toaster-theme-bizweek.pie-colors .not-highlighted .f.series-0,.toaster-theme-bizweek.pie-colors .not-highlighted .line-area.series-0 {
    fill: var(--text)
}

.toaster-theme-bizweek.pie-colors .not-highlighted .f.series-1,.toaster-theme-bizweek.pie-colors .not-highlighted .line-area.series-1 {
    fill: #0078ff
}

.toaster-theme-bizweek.pie-colors .not-highlighted .f.series-2,.toaster-theme-bizweek.pie-colors .not-highlighted .line-area.series-2 {
    fill: red
}

.toaster-theme-bizweek.pie-colors .not-highlighted .f.series-3,.toaster-theme-bizweek.pie-colors .not-highlighted .line-area.series-3 {
    fill: #080
}

.toaster-theme-bizweek.pie-colors .not-highlighted .f.series-4,.toaster-theme-bizweek.pie-colors .not-highlighted .line-area.series-4 {
    fill: var(--bg)
}

.toaster-theme-bizweek.pie-colors .not-highlighted .f.series-5,.toaster-theme-bizweek.pie-colors .not-highlighted .line-area.series-5 {
    fill: #ff0
}

.toaster-theme-bizweek.pie-colors .not-highlighted .f.series-6,.toaster-theme-bizweek.pie-colors .not-highlighted .line-area.series-6 {
    fill: #5d5d5d
}

.toaster-theme-bizweek.pie-colors .not-highlighted .f.series-7,.toaster-theme-bizweek.pie-colors .not-highlighted .line-area.series-7 {
    fill: #949494
}

.toaster-theme-bizweek.pie-colors .not-highlighted .f.series-8,.toaster-theme-bizweek.pie-colors .not-highlighted .line-area.series-8 {
    fill: #ccc
}

.toaster-theme-bizweek.pie-colors .not-highlighted .f.series-9,.toaster-theme-bizweek.pie-colors .not-highlighted .line-area.series-9 {
    fill: #dedede
}

.toaster-theme-bizweek.pie-colors .not-highlighted .s.series-0,.toaster-theme-bizweek.pie-colors .not-highlighted .series-0-stroke {
    stroke: var(--text)
}

.toaster-theme-bizweek.pie-colors .not-highlighted .s.series-1,.toaster-theme-bizweek.pie-colors .not-highlighted .series-1-stroke {
    stroke: #0078ff
}

.toaster-theme-bizweek.pie-colors .not-highlighted .s.series-2,.toaster-theme-bizweek.pie-colors .not-highlighted .series-2-stroke {
    stroke: red
}

.toaster-theme-bizweek.pie-colors .not-highlighted .s.series-3,.toaster-theme-bizweek.pie-colors .not-highlighted .series-3-stroke {
    stroke: #080
}

.toaster-theme-bizweek.pie-colors .not-highlighted .s.series-4,.toaster-theme-bizweek.pie-colors .not-highlighted .series-4-stroke {
    stroke: var(--bg)
}

.toaster-theme-bizweek.pie-colors .not-highlighted .s.series-5,.toaster-theme-bizweek.pie-colors .not-highlighted .series-5-stroke {
    stroke: #ff0
}

.toaster-theme-bizweek.pie-colors .not-highlighted .s.series-6,.toaster-theme-bizweek.pie-colors .not-highlighted .series-6-stroke {
    stroke: #5d5d5d
}

.toaster-theme-bizweek.pie-colors .not-highlighted .s.series-7,.toaster-theme-bizweek.pie-colors .not-highlighted .series-7-stroke {
    stroke: #949494
}

.toaster-theme-bizweek.pie-colors .not-highlighted .s.series-8,.toaster-theme-bizweek.pie-colors .not-highlighted .series-8-stroke {
    stroke: #ccc
}

.toaster-theme-bizweek.pie-colors .not-highlighted .s.series-9,.toaster-theme-bizweek.pie-colors .not-highlighted .series-9-stroke {
    stroke: #dedede
}

.toaster-theme-bizweek.pie-colors .highlighted path {
    fill: #0078ff
}

.toaster-theme-bizweek.pie-colors .highlight,.toaster-theme-bizweek.pie-colors .f.highlight {
    fill: var(--text)
}

.toaster-theme-bizweek.area-colors .bg.series-0,.toaster-theme-bizweek.area-colors .series-0 {
    background-color: $areaColors
}

.toaster-theme-bizweek.area-colors .c.series-0 {
    color: $areaColors
}

.toaster-theme-bizweek.area-colors .f.series-0,.toaster-theme-bizweek.area-colors .line-area.series-0 {
    fill: $areaColors
}

.toaster-theme-bizweek.area-colors .s.series-0,.toaster-theme-bizweek.area-colors .series-0-stroke {
    stroke: $areaColors
}

.toaster-theme-bizweek .toaster-chart-dumbbell .simple-legend .swatch {
    border-radius: 100%
}

.toaster-theme-bizweek.toaster-chart-dumbbell .simple-legend .swatch {
    border-radius: 100%
}

.toaster-theme-bizweek.toaster-chart-dumbbell .bar-group .dumbbell-bar {
    fill: var(--text)
}

.toaster-theme-bizweek .simple-line .line,.toaster-theme-bizweek .simple-line .dashed-line {
    fill: none;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-linecap: round
}

.toaster-theme-bizweek .simple-line .dashed-line {
    stroke-dasharray: 6 6
}

.toaster-theme-bizweek .dashed-line.show-solid-line {
    stroke-dasharray: none
}

.toaster-theme-bizweek.toaster-chart-barline .simple-line .line,.toaster-theme-bizweek.toaster-chart-barline .simple-line .dashed-line {
    stroke-width: 4
}

.toaster-theme-bizweek .pie-container.highlighted path {
    stroke: var(--bg);
    stroke-width: 1.5px
}

.toaster-theme-bizweek .pie-container.not-highlighted path {
    stroke: none;
    stroke-width: 0
}

.toaster-theme-bizweek .pie-container .label line {
    stroke: var(--text);
    stroke-width: 1px
}

.toaster-theme-bizweek .pie-container .label text {
    alignment-baseline: text-after-edge;
    dominant-baseline: text-after-edge;
    fill: var(--text);
    text-anchor: start
}

.toaster-theme-bizweek .pie-container .label .left text {
    text-anchor: end
}

.toaster-theme-bizweek .pie-container .label .line1 {
    font-size: 18px;
    line-height: 22px
}

.toaster-theme-bizweek .pie-container .label .line2 {
    font-size: 13px;
    line-height: 14px
}

.toaster-theme-bizweek .pie-container .label.highlight text {
    font-weight: 600
}

.toaster-theme-bizweek .pie-container .label.highlight line {
    stroke-width: 2px
}

.toaster-theme-bizweek .simple-table,.toaster-theme-bizweek .simple-table-mobile {
    display: table;
    border-collapse: collapse
}

.toaster-theme-bizweek .simple-table tr.hidden,.toaster-theme-bizweek .simple-table-mobile tr.hidden {
    display: none
}

.toaster-theme-bizweek .simple-table .simple-table-expand,.toaster-theme-bizweek .simple-table-mobile .simple-table-expand {
    cursor: pointer
}

.toaster-theme-bizweek .simple-table .numeric,.toaster-theme-bizweek .simple-table-mobile .numeric,.toaster-theme-bizweek .simple-table .percent,.toaster-theme-bizweek .simple-table-mobile .percent {
    text-align: right
}

.toaster-theme-bizweek .simple-table tbody .numeric,.toaster-theme-bizweek .simple-table-mobile tbody .numeric,.toaster-theme-bizweek .simple-table tbody .percent,.toaster-theme-bizweek .simple-table-mobile tbody .percent {
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum"
}

.toaster-theme-bizweek .simple-table {
    margin: 8px 0
}

.toaster-theme-bizweek .simple-table th,.toaster-theme-bizweek .simple-table td {
    border: 1px solid #ddd;
    padding: 2px 4px;
    color: #333
}

.toaster-theme-bizweek .simple-table th {
    color: var(--text);
    background: #ddd;
    font-weight: 700;
    font-size: smaller;
    max-width: 160px;
    vertical-align: bottom;
    border-right-color: #d0d0d0
}

.toaster-theme-bizweek .simple-table th:last-child {
    border-right-color: #ddd
}

.toaster-theme-bizweek .simple-table .highlight {
    background: #ffd
}

.toaster-theme-bizweek .simple-table .change.neutral {
    color: gray
}

.toaster-theme-bizweek .simple-table .change.positive {
    color: green
}

.toaster-theme-bizweek .simple-table .change.negative {
    color: red
}

.toaster-theme-bizweek .simple-table .arrow.neutral {
    color: gray
}

.toaster-theme-bizweek .simple-table .arrow.neutral::after {
    content: '●'
}

.toaster-theme-bizweek .simple-table .arrow.positive {
    color: green
}

.toaster-theme-bizweek .simple-table .arrow.positive::after {
    content: '▲'
}

.toaster-theme-bizweek .simple-table .arrow.negative {
    color: red
}

.toaster-theme-bizweek .simple-table .arrow.negative::after {
    content: '▼'
}

.toaster-theme-bizweek .simple-table .bar-container {
    white-space: nowrap;
    text-align: left
}

.toaster-theme-bizweek .simple-table .bar {
    float: left;
    padding: 3px;
    background-color: #00f;
    background-clip: content-box;
    maring-left: 10px
}

.toaster-theme-bizweek .simple-table .bar::before {
    content: '\200b'
}

@media screen and (min-width: 501px) {
    .toaster-theme-bizweek .simple-table .simple-table {
        display:visible
    }
}

@media screen and (max-width: 500px) {
    .toaster-theme-bizweek .simple-table .simple-table {
        display:none
    }
}

@media screen and (min-width: 501px) {
    .toaster-theme-bizweek .simple-table .simple-table-mobile {
        display:none
    }
}

@media screen and (max-width: 500px) {
    .toaster-theme-bizweek .simple-table .simple-table-mobile {
        display:visible
    }
}

.toaster-theme-bizweek .simple-table-mobile {
    margin: 8px 0
}

.toaster-theme-bizweek .simple-table-mobile th {
    font-weight: 700;
    text-align: left;
    padding-right: 4px
}

.toaster-theme-bizweek .simple-table-mobile .row th {
    font-size: smaller;
    color: var(--text)
}

.toaster-theme-bizweek .simple-table-mobile .label-field th {
    font-size: 22px
}

.toaster-theme-bizweek .simple-table-mobile tbody {
    border-top: 1px solid var(--text)
}

.toaster-theme-bizweek .simple-table-mobile tbody:first-child {
    border: none
}

.toaster-theme-bizweek .simple-table-mobile .highlight {
    background: #ffd
}

.toaster-theme-bizweek .simple-table-mobile .change.neutral {
    color: gray
}

.toaster-theme-bizweek .simple-table-mobile .change.positive {
    color: green
}

.toaster-theme-bizweek .simple-table-mobile .change.negative {
    color: red
}

.toaster-theme-bizweek .simple-table-mobile .arrow.neutral {
    color: gray
}

.toaster-theme-bizweek .simple-table-mobile .arrow.neutral::after {
    content: '●'
}

.toaster-theme-bizweek .simple-table-mobile .arrow.positive {
    color: green
}

.toaster-theme-bizweek .simple-table-mobile .arrow.positive::after {
    content: '▲'
}

.toaster-theme-bizweek .simple-table-mobile .arrow.negative {
    color: red
}

.toaster-theme-bizweek .simple-table-mobile .arrow.negative::after {
    content: '▼'
}

.toaster-theme-bizweek .simple-table-mobile .bar-container {
    white-space: nowrap;
    text-align: left
}

.toaster-theme-bizweek .simple-table-mobile .bar {
    float: left;
    padding: 3px;
    background-color: #00f;
    background-clip: content-box;
    maring-left: 10px
}

.toaster-theme-bizweek .simple-table-mobile .bar::before {
    content: '\200b'
}

@media screen and (min-width: 501px) {
    .toaster-theme-bizweek .simple-table-mobile .simple-table {
        display:visible
    }
}

@media screen and (max-width: 500px) {
    .toaster-theme-bizweek .simple-table-mobile .simple-table {
        display:none
    }
}

@media screen and (min-width: 501px) {
    .toaster-theme-bizweek .simple-table-mobile .simple-table-mobile {
        display:none
    }
}

@media screen and (max-width: 500px) {
    .toaster-theme-bizweek .simple-table-mobile .simple-table-mobile {
        display:visible
    }
}

.toaster-theme-bizweek .tooltip {
    position: absolute
}

.toaster-theme-bizweek .tooltip-hidden {
    display: none!important
}

.toaster-theme-bizweek .tooltip-label-box {
    background: var(--bg);
    color: var(--text);
    border: solid 1px var(--text);
    -webkit-transition: left .18s linear;
    transition: left .18s linear;
    min-width: 85px;
    max-width: 180px;
    font-size: 14px
}

.toaster-theme-bizweek .tooltip-label-box.flipHorizontal {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.toaster-theme-bizweek .tooltip-label-box.flipVertical {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.toaster-theme-bizweek .tooltip-label-box.flipVH {
    -webkit-transform: translateY(-100%) translateX(-100%);
    transform: translateY(-100%) translateX(-100%)
}

.toaster-theme-bizweek .tooltip-label-box.single-series {
    min-width: 20px
}

.toaster-theme-bizweek .tooltip-valueline {
    position: absolute;
    color: var(--bg);
    padding: 4px 8px 0;
    height: 16px;
    font-size: 14px;
    z-index: 1
}

.toaster-theme-bizweek .tooltip-valueline.tooltip-left::after,.toaster-theme-bizweek .tooltip-valueline.tooltip-right::after,.toaster-theme-bizweek .tooltip-valueline.tooltip-top::after,.toaster-theme-bizweek .tooltip-valueline.tooltip-bottom::after {
    content: '';
    width: 14px;
    height: 14px;
    background: inherit;
    display: block;
    position: absolute;
    left: -7px;
    top: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: -1
}

.toaster-theme-bizweek .tooltip-valueline.tooltip-right::after {
    left: auto;
    right: -7px
}

.toaster-theme-bizweek .tooltip-valueline.tooltip-top::after {
    left: 50%;
    top: 0;
    -webkit-transform: rotate(-45deg) translateX(-50%);
    transform: rotate(-45deg) translateX(-50%)
}

.toaster-theme-bizweek .tooltip-valueline.tooltip-bottom::after {
    left: 50%;
    top: auto;
    bottom: 0;
    -webkit-transform: rotate(-45deg) translateX(-50%);
    transform: rotate(-45deg) translateX(-50%)
}

.toaster-theme-bizweek .tooltip-label {
    font-weight: 400;
    padding: 7px 7px 2px
}

.toaster-theme-bizweek .tooltip-values {
    padding: 0 0 7px
}

.toaster-theme-bizweek .tooltip-value {
    padding: 0 7px;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.3
}

.toaster-theme-bizweek .tooltip-value .swatch {
    display: inline-block;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 2px 0;
    -webkit-transform: translateY(15%);
    transform: translateY(15%)
}

.toaster-theme-bizweek .tooltip-value .percentage {
    padding-left: 4px
}

.toaster-theme-bizweek .tooltip-value.last {
    padding-top: 4px
}

.toaster-theme-bizweek .tooltip-value.total {
    padding: 3px 0;
    margin: 5px 7px 0;
    border-top: solid 1px var(--text)
}

.toaster-theme-bizweek .tooltip-value.total .left {
    padding-right: 5px
}

.toaster-theme-bizweek .single-series .tooltip-value .swatch {
    display: none
}

.toaster-theme-bizweek .single-series .tooltip-value .val {
    font-size: 21px;
    line-height: 21px
}

.toaster-theme-bizweek .tooltip-anchor {
    r: 4.5;
    fill: var(--bg);
    stroke: var(--text);
    stroke-width: 1;
    z-index: 1
}

.toaster-theme-bizweek .tooltip-gridline {
    stroke: var(--text);
    stroke-width: 1px;
    -webkit-transition: all .18s cubic-bezier(.78,-.135,.88,1.245);
    transition: all .18s cubic-bezier(.78,-.135,.88,1.245)
}

.toaster-theme-bizweek .annotations line {
    stroke: var(--text)
}

.toaster-theme-bizweek .annotations circle {
    r: 4
}

.toaster-theme-bizweek .annotations text {
    text-anchor: end;
    text-shadow: -1px -1px 1px var(--bg),-1px -.5px 1px var(--bg),-1px 0 1px var(--bg),-1px .5px 1px var(--bg),-1px 1px 1px var(--bg),-.5px -1px 1px var(--bg),-.5px -.5px 1px var(--bg),-.5px 0 1px var(--bg),-.5px .5px 1px var(--bg),-.5px 1px 1px var(--bg),0 -.5px 1px var(--bg),0 -.5px 1px var(--bg),0 1px 1px var(--bg),0 1px 1px var(--bg),.5px -1px 1px var(--bg),.5px -.5px 1px var(--bg),.5px 0 1px var(--bg),.5px .5px 1px var(--bg),.5px 1px 1px var(--bg),1px -1px 1px var(--bg),1px -.5px 1px var(--bg),1px 0 1px var(--bg),1px .5px 1px var(--bg),1px 1px 1px var(--bg)
}

.toaster-theme-bizweek text.condensed-annotation {
    text-shadow: none;
    fill: var(--text);
    font-weight: 700;
    font-size: 18px;
    text-anchor: start
}

.toaster-theme-bizweek text.condensed-annotation.horizontal {
    alignment-baseline: middle
}

.toaster-theme-bizweek .swatch {
    border: solid 1px var(--text)
}

.toaster-theme-bizweek .swatch.line {
    border: none
}

.toaster-theme-bizweek.toaster-chart rect.column {
    stroke-width: 1px;
    stroke: var(--text)
}

.toaster-theme-bizweek.toaster-chart .logo {
    display: none
}

.toaster-theme-bizweek.toaster-chart .line-area {
    fill-opacity: 1;
    stroke: var(--text);
    stroke-width: .9
}

.toaster-theme-bizweek.toaster-chart .grid line {
    stroke-width: 1px
}

.toaster-theme-bizweek.toaster-chart .source,.toaster-theme-bizweek.toaster-chart .footnote,.toaster-theme-bizweek.toaster-chart .footer {
    margin-right: 0
}

.toaster-theme-bizweek.toaster-chart .annotations circle {
    fill: var(--bg)!important;
    stroke: var(--text)
}

.toaster-theme-bizweek.toaster-chart .pie-container.not-highlighted path,.toaster-theme-bizweek.toaster-chart .pie-container.highlighted path {
    stroke: var(--text);
    stroke-width: 1px
}

.toaster-theme-bizweek.toaster-chart .axis-y .tick>line {
    stroke-width: 1px
}

.toaster-theme-bizweek.toaster-chart .box-inner {
    border: solid 1px var(--text)
}

.toaster-theme-bizweek.toaster-chart .simple-line .line {
    fill: none;
    stroke-width: 3
}

.toaster-theme-bizweek.toaster-chart .source,.toaster-theme-bizweek.toaster-chart .footnote {
    margin-right: 0
}

.toaster-theme-bizweek.mobile {
    font-size: 12px;
    padding: 16px 6px 5px 12px
}

.toaster-theme-bizweek.mobile h1 {
    font-size: 16px;
    line-height: 20px
}

.toaster-theme-bizweek.mobile h2 {
    font-size: 14px;
    line-height: 18px
}

.toaster-theme-bizweek.mobile.toaster-chart .simple-legend {
    margin: 6px 0 0 2px;
    font-size: 12px
}

.toaster-theme-bizweek.mobile.toaster-chart .simple-legend .swatch {
    width: 10px;
    height: 10px
}

.toaster-theme-bizweek.mobile.toaster-chart .simple-legend .swatch.line {
    width: 14px;
    height: 2.5px;
    transform: rotate(-45deg) translate(7px,-1px);
    -webkit-transform: rotate(-45deg) translate(7px,-1px);
    margin-left: -7px
}

.toaster-theme-bizweek.mobile.toaster-chart .axis-x text,.toaster-theme-bizweek.mobile.toaster-chart .axis-y text,.toaster-theme-bizweek.mobile.toaster-chart .axis-label-box text,.toaster-theme-bizweek.mobile.toaster-chart .label-container text,.toaster-theme-bizweek.mobile.toaster-chart .annotations text {
    font-size: 12px
}

.toaster-theme-bizweek.mobile.toaster-chart text.condensed-annotation {
    font-size: 20px
}

.toaster-theme-bizweek.mobile.toaster-chart .source,.toaster-theme-bizweek.mobile.toaster-chart .footnote {
    font-size: 12px
}

.toaster-theme-bizweek.mobile.toaster-chart .footer {
    min-height: 12px;
    margin-right: 88px
}

.toaster-theme-bizweek.mobile.toaster-chart .logo {
    width: 63px;
    right: 6px;
    bottom: 6px
}

.toaster-theme-bizweek.mobile.toaster-chart .tooltip-label-box {
    font-size: 12px
}

.toaster-theme-bizweek.mobile.toaster-chart .pie-container .label .line1 {
    font-size: 16px
}

.toaster-theme-bizweek.mobile.toaster-chart .pie-container .label .line2 {
    font-size: 12px
}

.toaster-theme-bizweek.mobile.toaster-chart .annotation-hide-on-mobile {
    display: none
}

.toaster-theme-bizweek.mobile.toaster-chart.no-titles .simple-legend {
    margin-top: 0
}

.toaster-theme-bizweek.mobile.toaster-chart.no-padding {
    padding: 0
}

.toaster-theme-bizweek.mobile.toaster-chart.no-padding .logo {
    right: 0;
    bottom: 0
}

.toaster-theme-bizweek.mobile.toaster-chart.no-interaction {
    pointer-events: none
}

.toaster-theme-bizweek.mobile #dial-chart .cls-10,.toaster-theme-bizweek.mobile #dial-chart .cls-11,.toaster-theme-bizweek.mobile #dial-chart .cls-13,.toaster-theme-bizweek.mobile #dial-chart .cls-14 {
    stroke-width: 2
}

.toaster-theme-bizweek.mobile #dial-chart .cls-11 {
    stroke-dasharray: 1 5
}

.toaster-theme-bizweek.mobile .simple-line .line {
    fill: none;
    stroke-width: 2
}

.toaster-theme-bizweek.mobile .source,.toaster-theme-bizweek.mobile .footnote {
    margin-right: 0
}

.toaster-chart .logo.variant-logo-btax {
    background-image: url(../image/btax-logo-blk.png);
    width: 92px;
    bottom: 7px
}

.toaster-chart .logo.variant-logo-blaw {
    background-image: url(../image/blaw-logo-blk.png);
    width: 92px;
    bottom: 7px
}

.toaster-chart .logo.variant-logo-bgov {
    background-image: url(../image/bgov-logo-blk.png);
    width: 148px;
    bottom: 7px
}

.toaster-chart .logo.variant-logo-benv {
    background-image: url(../image/benv-logo-blk.png);
    width: 148px;
    bottom: 7px
}

.toaster-chart .logo.variant-logo-quick {
    background-image: url(../image/quicktakelogo.svg);
    width: 136px
}

.toaster-chart .logo.variant-logo-bnef {
    background-image: url(../image/bnef-logo-black.svg);
    width: 94px
}

.toaster-chart.mobile .logo.variant-logo-btax,.toaster-chart.mobile .logo.variant-logo-blaw {
    width: 88px
}

.toaster-chart.mobile .logo.variant-logo-bgov,.toaster-chart.mobile .logo.variant-logo-benv,.toaster-chart.mobile .logo.variant-logo-quick {
    width: 120px
}

.toaster-chart.mobile .logo.variant-logo-bnef {
    width: 80px
}
